*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
}
/* ---------------
Top-section
--------------- */


.container-top{
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
    padding: 0 20px;

}

nav ul{
    display: flex;
    margin: 20px 0;

}

nav ul li{
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    color: #000000;
}
h1{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 3rem;
   
}

h2 a{
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
}

 img{
   transition: transform .4s;
}
img:hover{
    transform: scale(1.05);
}


.btn{
    background-color: #E02C6D;
    padding:6px 10px;
    border-radius: 30px;
    margin-top:20px;
    border: none;
    transition: 0.4s;
}

.btn:hover{
    transform: scale(1.05);
}
/* Popular-brand */
.icon-brand {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
    padding: 20px 0;
    border-right: 0;
    border-left: 0;
}
/* Item-section */
main h2{
    text-align: center;
    margin: 30px 0;
    font-size: 2rem;
}
/* item */
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    max-width: 1150px;

}

div h3{
    margin-top: 30px;
}
section div{
   
   background-color: #D6D7DB;
   border-radius: 5px;
   text-align: center;
   padding: 30px 0 0;
   min-height: 430px;
}
section div img{
    max-width: 100%
}
/* down-content */

.down-button{
    display: flex;
    justify-content: flex-end;
}
.down-btn{
    display: block;
   color: #E02C6D;
    border: none;

}
.fearured{
    font-size: 2rem;
    font-weight: 900;
}
.fearured-btn{
  background-color: #E02C6D;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
}
.contact-me .contact-left{
    align-self: flex-start;
}
.left, .right{
    padding: 0 20px;
}
.left h2{
    font-size: 30px;
    color: #000000;
    margin: 20px 0;
}

.left h2 span{
    color: #E02C6D;
}

.contact-me .contact-right {
    background-color: khaki;
    padding: 20px;
}
form{
    text-align: left;
}
form input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
}

form input[type="submit"]{
    width: 150px;
    background-color: #E02C6D ;
    border: 0;
    color: #fff;
    margin-top: 20px;
    padding: 15px 0;
    border-radius: 10px;
    font-size: 16px;
}
footer{
    background-color: rgb(77, 77, 201);
    text-align: center;
    color: white;
    padding: 30px 0;
}
footer i{
    background-color: #102037;
    padding: 7px;
    margin: 10px 0;
    border-radius: 50%;
    transition: transform 0.8s;
}

footer i:hover{
    background-color: #E02C6D;
    transform: rotate(360deg)
}

footer a{
    color: #ffffff;
}
/* media quries */
/* mobile device */
@media screen and (max-width:557px){
    
    .container-top{
        margin: 50px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    img{
        max-width: 90%;
    }

    .icon-brand {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    .icon-brand img{
        margin: 10px;
    }

    section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: auto;
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        max-width: 1150px;
    
    }

    section div{
        margin: 0 10px;
    }
    .contact-me .contact-right {
        margin-top: 20px;
    }

    form{
       padding: 20px;
    }
}