*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Merriweather', serif;
}
/* ---------------
Top-section
--------------- */
.container-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;

}
h1{
    font-weight: 900;
    margin-bottom: 30px;
    font-size: 3rem;
   
}
.left{
    max-width: 50%;
}
.right{
    max-width: 50%;
}
.btn{
    background-color: #E02C6D;
    padding:6px 10px;
    border-radius: 30px;
    margin-top:20px;
    border: none;
}
/* Popular-brand */
.icon-brand{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid gray;
}
/* Item-section */
main h2{
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}
/* item */
section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin: 50px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
section div{
   
   background-color: #D6D7DB;
   border-radius: 5px;
}
section div img{
    min-width: 100%;
}
/* down-content */
.down-btn{
    display: block;
  margin-left: 1200px;
   color: #E02C6D;
    border: none;

}
.fearured{
    font-size: 2rem;
    font-weight: 900;
}
.fearured-btn{
  background-color: #E02C6D;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
}
footer ,a{
    background-color: rgb(77, 77, 201);
    text-align: center;
    color: white;
}
